$background-light: #ecf5f8;
$color-light: #b6d7e0;
$border-light: 1px solid #b6d7e0;
$bg-nav-footer: #ebebeb;
$color-primary: #1485a5;
$color-primary-dark: darken($color-primary,8%);
$color-red: #a51414;
$color-red-dark: #860a0a;